<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tenz.modulemain" >

    <application
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ShowFragmentActivity"/>

    </application>

</manifest>
